/* Default parameters */

params.reads = "/home/sandra/Nextflow/reads/*_{1,2}.fastq.gz"
params.ref = "/home/sandra/Nextflow/ref/MTB_Ref.fasta"
params.outdir = "/home/sandra/Nextflow/Results"
params.threads=16
params.phred="-phred33"
params.phred2="--phred33"
params.LEADING="LEADING:3"
params.TRAILING="TRAILING:3"
params.MINLEN="MINLEN:36"
params.SLIDINGWINDOW="SLIDINGWINDOW:4:15"
params.HEADCROP=15
params.INT=15
params.adapter = "/home/sandra/Nextflow/TruSeq3-PE.fa"
params.options="illumina"
params.tool="trimmomatic"
params.help=false

//Execution time
timeline {
  enabled = true
  overwrite = true
  file = "$params.outdir/timeline.html"
}

// detailed execution report including the CPUs used
report {
  enabled = true
  overwrite = true
  file = "$params.outdir/report.html"
}

// Enabling conda and containers

profiles {
    conda {
    	conda.enabled = true
        process.conda = 'samtools'
        process.conda = 'trimmomatic'
        process.conda = 'bwa'
        process.conda = 'fastqc'
        process.conda = 'multiqc'
        process.conda = 'bcftools'
        process.conda = 'trim-galore'
        process.conda = 'fastp'
    }


   docker {
        process.container = 'biocontainers/samtools'
        docker.enabled = true
  }
  
  }

